td.title { font-style: normal; }
article.poem h1 { font-family: inherit; font-weight: normal; text-transform: uppercase; line-height: 1.7em; font-size: 90%; }
article.poem h1 span.center { font-size: 130%; }
article.poem h1 .num { font-weight: bold;}
article.poem  { text-align: center;  }
article.poem .l { white-space: nowrap; } /* bug vers coupé */
/* Centré le poème sous un titre plus large */
article.poem > .lg { display: inline-block; padding: 0 1ex; text-align: left; position: relative; }
article.poem.dialogue .l-n { position: relative; float: right; margin-left: 2.5rem;}
article.poem.dialogue .label { position: absolute; width: 8em; text-align: right; line-height: 1.4rem;  margin: 0 0 0 0 ; left: -9em; font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif; color: grey; font-size: 85%;  }
td.prev abbr, td.next abbr { display: none; }
